<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
 
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active"><font color="red;">Employee List</font></a>
    </li><br>
    <li class="nav-item">
        <a routerLink="add-emp" class="nav-link" routerLinkActive="active"><font color="red;">Add Employee</font></a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>
  <!-- footer -->
    <footer class="footer">
    <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <3 by <a href="https://twitter.com/pranavpofficial"><font color="red;">Pranav</font></a>
      </p>
    </div>
    </div>
    </footer>